# SPDX-License-Identifier: GPL-2.0-or-later

#
# Buspirate with OpenOCD support
#
# http://dangerousprototypes.com/bus-pirate-manual/
#

adapter driver buspirate

transport select jtag


# you need to specify port on which BP lives
buspirate port /dev/ttyUSB3

# communication speed setting
buspirate speed normal ;# or fast

# voltage regulator Enabled = 1 Disabled = 0
buspirate vreg 1

# pin mode normal or open-drain (jtag only)
buspirate mode open-drain

# pullup state Enabled = 1 Disabled = 0
#buspirate pullup 0

# this depends on the cable, you are safe with this option
reset_config srst_only

# ----------------------------------------------
# Target configuration
# ----------------------------------------------
set _CHIPNAME neorv32
jtag newtap $_CHIPNAME cpu -irlen 5
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME.0 riscv -chain-position $_TARGETNAME

# ----------------------------------------------
# Access memory via program buffer
# ----------------------------------------------
riscv set_mem_access progbuf

# ----------------------------------------------
# Scratch pad RAM
# ----------------------------------------------
# work area ("scratch pad RAM"): beginning of (internal) DMEM, 256 bytes, requires(!) backup
$_TARGETNAME.0 configure -work-area-phys 0x80000000 -work-area-size 256 -work-area-backup 1

# ----------------------------------------------
# Expose NEORV32-specific CSRs
# ----------------------------------------------
riscv expose_csrs 4032=mxisa

# ----------------------------------------------
# Start session
# ----------------------------------------------
init
halt

echo "Target HALTED."
echo "Ready for remote connections."
